<mat-toolbar color="primary">
  <span class="title-center">Conversor de enteros a números romanos</span>
</mat-toolbar>
<form [formGroup]="userForm" (ngSubmit)="convertNumber()">
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="15px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      Ingrese su nombre:
    </mat-grid-tile>
    <mat-grid-tile>
      <input type="text" formControlName="name">
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      Ingrese un número:
    </mat-grid-tile>
    <mat-grid-tile>
      <input type="number" formControlName="number">
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button mat-raised-button color="primary" type="submit">
        Realizar conversión (Azure Function)
        <mat-icon aria-hidden="false" aria-label="Function icon" fontIcon="functions"></mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button mat-raised-button color="primary">
        Realizar conversión (App Service)
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="language"></mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>

